* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #5D3587;
}

.container-modificado{
    max-width: 600px;
    padding: 1.5rem;
    background-color: #F2F2F2;
    border-radius: 15px;
    border: 1px solid #BFBFBF;
}

.form-modificado,
.resultado{
    padding: 2rem;
}

.input-modificado{
    width: 210px;
}

.input-ano-mes{
    width: 70px;
}

label{
    font-weight: 460;
}

.btn-modificado{
    font-weight: 500;
    border: 1px solid #BFBFBF;
}

#resultado_atingiu_meta{
    height: 100px;
    color: green;
}

#resultado_nao_atingiu_meta{
    height: 100px;
    color: red;
}