* {
    margin: 0;
    padding: 0;
}

.container-modificado{
    max-width: 600px;
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #BFBFBF;
}

.form-modificado,
.resultado{
    padding: 2rem;
}

.input-modificado{
    width: 210px;
}

.input-ano-mes{
    width: 70px;
}

label{
    font-weight: bold;
}

#btn-modificado{
    font-weight: 500;
    border: 1px solid #BFBFBF;
}